action-msgs==2.0.2
action-tutorials-interfaces==0.33.5
action-tutorials-py==0.33.5
actionlib-msgs==5.3.5
ament-cmake-test==2.5.3
ament-copyright==0.17.1
ament-cppcheck==0.17.1
ament-cpplint==0.17.1
ament-flake8==0.17.1
ament-index-python==1.8.1
ament-lint==0.17.1
ament-lint-cmake==0.17.1
ament-package==0.16.3
ament-pep257==0.17.1
ament-uncrustify==0.17.1
ament-xmllint==0.17.1
angles==1.16.0
annotated-types==0.7.0
anyio==4.7.0
appnope==0.1.3
astor==0.8.1
asttokens==2.0.8
autoflake==1.7.6
autopep8==1.7.0
backcall==0.2.0
beautifulsoup4==4.12.3
builtin-interfaces==2.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
composition-interfaces==2.0.2
cv-bridge==4.1.0
debugpy==1.6.3
decorator==5.1.1
demo-nodes-py==0.33.5
diagnostic-msgs==5.3.5
distro==1.9.0
domain-coordinator==0.12.0
entrypoints==0.4
example-interfaces==0.12.0
examples-rclpy-executors==0.19.4
examples-rclpy-minimal-action-client==0.19.4
examples-rclpy-minimal-action-server==0.19.4
examples-rclpy-minimal-client==0.19.4
examples-rclpy-minimal-publisher==0.19.4
examples-rclpy-minimal-service==0.19.4
examples-rclpy-minimal-subscriber==0.19.4
executing==1.1.1
filelock==3.16.1
fsspec==2024.12.0
geometry-msgs==5.3.5
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
image-geometry==4.1.0
interactive-markers==2.5.4
ipykernel==6.16.0
ipython==8.5.0
jedi==0.18.1
Jinja2==3.1.5
jiter==0.8.2
jupyter-core==4.11.1
jupyter_client==7.4.2
laser-geometry==2.7.0
launch==3.4.3
launch-ros==0.26.6
launch-testing==3.4.3
launch-testing-ros==0.26.6
launch-xml==3.4.3
launch-yaml==3.4.3
lifecycle-msgs==2.0.2
logging-demo==0.33.5
map-msgs==2.4.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.6
message-filters==4.11.3
mpmath==1.3.0
mypy==0.971
mypy-extensions==0.4.3
nav-msgs==5.3.5
nb-mypy==1.0.4
nest-asyncio==1.5.6
networkx==3.4.2
numpy==1.23.3
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
openai==1.59.3
osrf-pycommon==2.1.5
packaging==21.3
pandas==1.5.1
parso==0.8.3
pcl-msgs==1.0.0
pendulum-msgs==0.33.5
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.31
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.9.1
pydantic==2.10.4
pydantic_core==2.27.2
pyflakes==2.5.0
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.1
python-qt-binding==2.2.1
pytz==2022.5
pyzmq==24.0.1
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.5
rcl-interfaces==2.0.2
rclpy==7.1.3
rcutils==6.7.2
requests==2.32.3
resource-retriever==3.4.3
rmw-dds-common==3.1.0
ros2action==0.32.2
ros2bag==0.26.6
ros2bag-mcap-cli==0.26.6
ros2bag-sqlite3-cli==0.26.6
ros2cli==0.32.2
ros2component==0.32.2
ros2doctor==0.32.2
ros2interface==0.32.2
ros2launch==0.26.6
ros2lifecycle==0.32.2
ros2multicast==0.32.2
ros2node==0.32.2
ros2param==0.32.2
ros2pkg==0.32.2
ros2run==0.32.2
ros2service==0.32.2
ros2topic==0.32.2
rosbag2-interfaces==0.26.6
rosbag2-py==0.26.6
rosgraph-msgs==2.0.2
rosidl-adapter==4.6.5
rosidl-cli==4.6.5
rosidl-cmake==4.6.5
rosidl-generator-c==4.6.5
rosidl-generator-cpp==4.6.5
rosidl-generator-py==0.22.0
rosidl-generator-type-description==4.6.5
rosidl-parser==4.6.5
rosidl-pycommon==4.6.5
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.1
rosidl-typesupport-fastrtps-cpp==3.6.1
rosidl-typesupport-introspection-c==4.6.5
rosidl-typesupport-introspection-cpp==4.6.5
rpyutils==0.4.1
rqt-action==2.2.0
rqt-bag==1.5.4
rqt-bag-plugins==1.5.4
rqt-console==2.2.1
rqt-graph==1.5.4
rqt-gui==1.6.0
rqt-gui-py==1.6.0
rqt-msg==1.5.1
rqt-plot==1.4.0
rqt-publisher==1.7.2
rqt-py-common==1.6.0
rqt-py-console==1.2.2
rqt-reconfigure==1.6.2
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-topic==1.7.3
sensor-msgs==5.3.5
sensor-msgs-py==5.3.5
service-msgs==2.0.2
shape-msgs==5.3.5
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
sros2==0.13.2
stack-data==0.5.1
statistics-msgs==2.0.2
std-msgs==5.3.5
std-srvs==5.3.5
stereo-msgs==5.3.5
sympy==1.13.1
teleop-twist-keyboard==2.4.0
tf2-geometry-msgs==0.36.7
tf2-kdl==0.36.7
tf2-msgs==0.36.7
tf2-py==0.36.7
tf2-ros-py==0.36.7
tf2-sensor-msgs==0.36.7
tf2-tools==0.36.7
toml==0.10.2
tomli==2.0.1
topic-monitor==0.33.5
torch==2.5.1
tornado==6.2
tqdm==4.67.1
traitlets==5.4.0
trajectory-msgs==5.3.5
triton==3.1.0
turtlesim==1.8.3
type-description-interfaces==2.0.2
typing_extensions==4.12.2
unique-identifier-msgs==2.5.0
urllib3==2.2.3
visualization-msgs==5.3.5
wcwidth==0.2.5
